################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
obj
bin
packages
Sample/ShoppingList/ShoppingList.Silo/shoppinglists.db*
*.trace
reports
.idea
