<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Fifty3North" value="https://nuget.pkg.github.com/Fifty3North/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Fifty3North>
            <add key="Username" value="[your_github_username]" />
            <add key="ClearTextPassword" value="[GitHub PAT https://github.com/settings/tokens]" />
        </Fifty3North>
    </packageSourceCredentials>
</configuration>