:root {
    --tr-font-sans-serif: "Be Vietnam Pro";
    --tr-font-monospace: "Fira Sans Mono";
    --tr-body-font-family: var(--tr-font-sans-serif);
    --tr-body-font-size: 1rem;
    --tr-body-font-weight: 400;
    --tr-body-line-height: 1.5;
    --tr-body-color: #526175;
    --tr-headings-color: #0f1a2a;
    --tr-subheadings-color: #526175;
    --tr-hover-color: #32445c;
    --tr-active-color: #69778c;
    --tr-border-color: #d6dbe1;
    --tr-border-color-alternative: #a5b1c2;
    --tr-darkest-bg: #d6dbe1;
    --tr-darker-bg: #f0f2f5;
    --tr-dark-bg: #f5f7fa;
    --tr-normal-bg: #ffffff;
    --tr-actor-bg: #ffffff;
    --tr-node-bg: #ffffff;
    --tr-navbar-bg: #ffffff;
    --tr-canvas-img-bg: url(../images/light-pattern-bg.jpg);
    --tr-hover-bg: rgba(214, 219, 225, 0.5);
    --tr-active-bg: #f0f2f5;
    --tr-box-shadow: 0 0.5rem 1rem rgba(15, 26, 42, 0.15);
    --tr-primary: #0c69f4;
    --tr-secondary: #69778c;
    --tr-success: #8ae573;
    --tr-info: #a8d9e0;
    --tr-warning: #e5b773;
    --tr-danger: #e57373;
    --tr-white: #ffffff;
    --tr-light: #d6dbe1;
    --tr-dark: #526175;
    --tr-black: #0f1a2a;
    --tr-node-border-color-blue: #73a7e5;
    --tr-node-border-color-green: #8ae573;
    --tr-node-border-color-cyan: #a8d9e0;
    --tr-node-border-color-purple: #9773e5;
    --tr-node-border-color-red: #e57373;
    --tr-node-border-color-orange: #e59c73;
    --tr-node-border-color-yellow: #e5b773;
    --tr-node-border-color-silver: #8fa5bf;
    --tr-node-header-bg-blue: #f0f7ff;
    --tr-node-header-bg-green: #f3fff0;
    --tr-node-header-bg-cyan: #effdff;
    --tr-node-header-bg-purple: #f5f0ff;
    --tr-node-header-bg-red: #fff0f0;
    --tr-node-header-bg-orange: #fff5f0;
    --tr-node-header-bg-yellow: #fff9f0;
    --tr-node-header-bg-silver: #e4eaf2;
    --tr-node-header-icon-color-blue: #80baff;
    --tr-node-header-icon-color-green: #99ff80;
    --tr-node-header-icon-color-cyan: #80efff;
    --tr-node-header-icon-color-purple: #a880ff;
    --tr-node-header-icon-color-red: #ff8080;
    --tr-node-header-icon-color-orange: #ffad80;
    --tr-node-header-icon-color-yellow: #ffcc80;
    --tr-node-header-icon-color-silver: #8fa3bf;
    --tr-node-header-icon-bg-blue: #bfddff;
    --tr-node-header-icon-bg-green: #ccffbf;
    --tr-node-header-icon-bg-cyan: #bff7ff;
    --tr-node-header-icon-bg-purple: #d3bfff;
    --tr-node-header-icon-bg-red: #ffbfbf;
    --tr-node-header-icon-bg-orange: #ffd6bf;
    --tr-node-header-icon-bg-yellow: #ffe5bf;
    --tr-node-header-icon-bg-silver: #d6dbe1; 
  
    .swal2-styled.swal2-confirm {
      background-color: $primary;
    }
  }
  
  [data-theme="dark"]:root {
    --tr-body-color: #f5f7fa;
    --tr-headings-color: #f5f7fa;
    --tr-subheadings-color: #a5b1c2;
    --tr-hover-color: #a5b1c2;
    --tr-active-color: #a5b1c2;
    --tr-body-bg: #182942;
    --tr-border-color: #32445c;
    --tr-border-color-alternative: #526175;
    --tr-darkest-bg: #0f1a2a;
    --tr-darker-bg: #182942;
    --tr-dark-bg: #32445c;
    --tr-normal-bg: #526175;
    --tr-actor-bg: #ffffff;
    --tr-node-bg: #32445c;
    --tr-navbar-bg: #182942;
    --tr-canvas-img-bg: url(../images/dark-pattern-bg.jpg);
    --tr-hover-bg: rgba(24, 41, 66, 0.4);
    --tr-active-bg: #182942;
    --tr-box-shadow: 0 0 0 1px var(--tr-border-color);
    --tr-node-header-icon-bg-blue: #405e80;
    --tr-node-header-icon-bg-green: #4c8040;
    --tr-node-header-icon-bg-cyan: #407880;
    --tr-node-header-icon-bg-purple: #544080;
    --tr-node-header-icon-bg-red: #804040;
    --tr-node-header-icon-bg-orange: #805740;
    --tr-node-header-icon-bg-yellow: #806640;
    --tr-node-header-icon-bg-silver: #536580; 
  }
  